{% extends '::base.html.twig' %}
{% block title %}{{ player.name }} score on {{ world.name }} on {{ selectedDate }} - {% endblock %}
{% block body %}
		<div id="content-full">
			<script type="text/javascript" src="https://www.google.com/jsapi"></script>
			<script type="text/javascript">
			    google.load("visualization", "1", {packages:["corechart", 'table', 'treemap', 'gauge']});
			    google.load('jquery', '1.6.0');
			</script>
			<div id="box1">
				<h2 class="title">{{ player.name }} score</h2>
				<div style="text-align: center"><a href="{{ url('player_world_externalId_date', {'world': world.externalId, 'externalId': player.externalId, 'date': selectedDate}) }}">go back to statistics</a></div>
			</div>

			<div style="padding-top: 30px">
			    <div id="chart1" class="chart_div_members"></div>
			    <script>
			    $(function() {
			    {{ gchart_column_chart(chart1, 'chart1', 700, 400, 'Ranking changes', {'hAxis': {'slantedText': true, 'direction': 1}}) }}
			    });
			    </script>
			</div>

			<div style="padding-top: 30px">
			    <div id="chart2" class="chart_div_members"></div>
			    <script>
			    $(function() {
			    {{ gchart_column_chart(chart2, 'chart2', 700, 400, 'Score changes', {'hAxis': {'slantedText': true}}) }}
			    });
			    </script>
			</div>
		</div>
{% endblock %}