<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% set version = '1002' %}
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="command and conquer, tiberium alliances, statistics, historical, compare, charts" />
	<meta name="description" content="C&C Tiberium Alliances historical statistics charts and comparison tools" />
	<title>{% block title %}{% endblock %}CNC-Stats.com C&amp;C Tiberium Alliances Statistics</title>
	<link rel="stylesheet" href="/bundles/hwscncstats/css/default.css?v={{ version }}" type="text/css" />
        {% block stylesheets %}
	{% endblock %}
	<link rel="Shortcut icon" href="/bundles/hwscncstats/images/icon.ico" />
    </head>
    <body>
	<div id="wrapper">
	    <div id="header-wrapper-main">
		<div id="header" class="container">
		    <div id="logo" style="text-align: center; width: 100%">
			<h1><a href="{{ url('homepage') }}">CNC-stats.com</a></h1>
		    </div>
		    <div id="menu-main">
			<ul>
			    <li><a href="{{ url('worlds') }}" title="">Supported worlds</a></li>
			    {#<li><a href="{{ url('global_rankings') }}" title="">Global rankings</a></li>#}
			    <li><a href="{{ url('thanks') }}" title=""><b>Donate / Contact</b></a></li>
			</ul>
		    </div>
		</div>
	    </div>
	    <div id="page" class="container">
	{% block body %}{% endblock %}
	    </div>
	    <div id="footer">
		<p>Copyright (c) 2013-2015 CNC-Stats.com powered by <a href="http://hws.pl">High-quality Web Solutions</a>. All rights reserved. <br />Design by <a href="http://www.freecsstemplates.org">FCT</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
	    </div>
	</div>


	<div class="cookieWarningBox"></div>
	<div class="donationBox"></div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        {% block javascripts %}{% endblock %}

	<script type="text/javascript" src="/bundles/hwscncstats/js/globalLib.js?v={{ version }}"></script>
	<script type="text/javascript" src="/bundles/hwscncstats/js/advertAlert.js?v={{ version }}"></script>
	<script type="text/javascript" src="/bundles/hwscncstats/js/cookieAlert.js?v={{ version }}"></script>
	<script type="text/javascript" src="/bundles/hwscncstats/js/donationAlert.js?v={{ version }}"></script>

    </body>
</html>
