{% extends '::base.html.twig' %}
{% block body %}
		<div id="content-full">
			<script type="text/javascript" src="https://www.google.com/jsapi"></script>
			<script type="text/javascript">
			    google.load("visualization", "1", {packages:["corechart", 'table', 'treemap', 'gauge']});
			    google.load('jquery', '1.6.0');
			</script>
			<div id="box1">
				<h2 class="title">{{ item.getName() }} POI charts</h2>
				<div style="text-align: center"><a href="{{ url('alliance', {'world': world.externalId, 'externalId': item.getExternalId()}) }}">go back to statistics</a></div>
			</div>
			<div>
			    <div id="chart1" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_pie_chart(chartPoi, 'chart1', 500, 200, 'All POIs taken') }}
			    });
			    </script>

			    <div id="chart2" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_pie_chart(chartPoi2, 'chart2', 500, 200, 'Tiberium Control Network Hubs taken') }}
			    });
			    </script>

			    <div id="chart3" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_pie_chart(chartPoi3, 'chart3', 500, 200, 'Crystal Control Network Hubs taken') }}
			    });
			    </script>

			    <div id="chart4" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_pie_chart(chartPoi4, 'chart4', 500, 200, 'Reactors taken') }}
			    });
			    </script>

			    <div id="chart5" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_pie_chart(chartPoi5, 'chart5', 500, 200, 'Uranium Compounds taken') }}
			    });
			    </script>

			    <div id="chart6" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_pie_chart(chartPoi6, 'chart6', 500, 200, 'Tungsten Compounds taken') }}
			    });
			    </script>

			    <div id="chart7" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_pie_chart(chartPoi7, 'chart7', 500, 200, 'Aircraft Guidance Network Towers taken') }}
			    });
			    </script>

			    <div id="chart8" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_pie_chart(chartPoi8, 'chart8', 500, 200, 'Resonator Network Towers taken') }}
			    });
			    </script>
			</div>
		</div>
{% endblock %}