{% extends '::base.html.twig' %}
{% block title %}{{ firstBasic.name }} VS {{ secondBasic.name }} charts on {{ world.name }} on {{ selectedDate }} - {% endblock %}
{% block body %}
		<div id="content-full">
			<script type="text/javascript" src="https://www.google.com/jsapi"></script>
			<script type="text/javascript">
			    google.load("visualization", "1", {packages:["corechart", 'table', 'treemap', 'gauge']});
			    google.load('jquery', '1.6.0');
			</script>
			<div id="box1">
				<h2 class="title">{{ firstBasic.name }} VS {{ secondBasic.name }} on {{ world.name }}</h2>
			<div style="text-align: center"><a href="{{ url('player_world_externalId_date', {'world': world.externalId, 'externalId': firstBasic.externalId, 'date': selectedDate}) }}">show {{ firstBasic.name }} statistics</a></div>
			<div style="text-align: center"><a href="{{ url('player_world_externalId_date', {'world': world.externalId, 'externalId': secondBasic.externalId, 'date': selectedDate}) }}">show {{ secondBasic.name }} statistics</a></div>
			<br />
			<div style="text-align: center"><a href="{{ url('comparePlayers_world_firstId_secondId_slug_date', {'world': world.externalId, 'firstId': firstBasic.externalId, 'secondId': secondBasic.externalId, 'slug': slug, 'date': selectedDate}) }}"><strong>go back</strong></a></div>
			</div>
			{% if world.login == '' %}
			<div class="message_red">We're sorry but we can't show PvP/PvE data from this world!</div>
			{% endif %}
			<div>
			    <div id="chart1" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_column_chart(chart1, 'chart1', 600, 200, 'Score ranking') }}
			    });
			    </script>
			    <div id="chart2" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_column_chart(chart2, 'chart2', 600, 200, 'Total score') }}
			    });
			    </script>
			    <div id="chart3" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_column_chart(chart3, 'chart3', 600, 200, 'Bases count') }}
			    });
			    </script>

			    {% if world.login != '' %}
			    <div id="chart4" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_column_chart(chart4, 'chart4', 600, 200, 'All destroyed bases') }}
			    });
			    </script>
			    <div id="chart5" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_column_chart(chart5, 'chart5', 600, 200, 'Destroyed bases PVP') }}
			    });
			    </script>
			    <div id="chart6" class="chart_div"></div>
			    <script>
			    $(function() {
			    {{ gchart_column_chart(chart6, 'chart6', 600, 200, 'Destroyed bases PVE') }}
			    });
			    </script>
			    {% endif %}
			</div>
		</div>
{% endblock %}